# Capstone Project - The Battle of Neighborhoods
## Business Problem section
### Background
According to Bloomberg News, the London Housing Market is in a rut. It is now facing a number of different headwinds, including the prospect of higher taxes and a warning from the Bank of England that U.K. home values could fall as much as 30 percent in the event of a disorderly exit from the European Union. More specifically, four overlooked cracks suggest that the London market may be in worse shape than many realize: hidden price falls, record-low sales, homebuilder exodus and tax hikes addressing overseas buyers of homes in England and Wales.

### Business Problem
In this scenario, it is urgent to adopt machine learning tools in order to assist homebuyers clientele in London to make wise and effective decisions. As a result, the business problem we are currently posing is: how could we provide support to homebuyers clientele in to purchase a suitable real estate in London in this uncertain economic and financial scenario?

To solve this business problem, we are going to cluster London neighborhoods in order to recommend venues and the current average price of real estate where homebuyers can make a real estate investment. We will recommend profitable venues according to amenities and essential facilities surrounding such venues i.e. elementary schools, high schools, hospitals & grocery stores.

### Data section
Data on London properties and the relative price paid data were extracted from the HM Land Registry (http://landregistry.data.gov.uk/). The following fields comprise the address data included in Price Paid Data: Postcode; PAON Primary Addressable Object Name. Typically the house number or name; SAON Secondary Addressable Object Name. If there is a sub-building, for example, the building is divided into flats, there will be a SAON; Street; Locality; Town/City; District; County.

To explore and target recommended locations across different venues according to the presence of amenities and essential facilities, we will access data through FourSquare API interface and arrange them as a dataframe for visualization. By merging data on London properties and the relative price paid data from the HM Land Registry and data on amenities and essential facilities surrounding such properties from FourSquare API interface, we will be able to recommend profitable real estate investments.

 ### Methodology section
The Methodology section will describe the main components of our analysis and predication system. The Methodology section comprises four stages:

1. Collect Inspection Data
2. Explore and Understand Data
3. Data preparation and preprocessing 
4. Modeling
1. Collect Inspection Data
After importing the necessary libraries, we download the data from the HM Land Registry website as follows:

In [1]:
import os # Operating System
import numpy as np
import pandas as pd
import datetime as dt # Datetime
import json # library to handle JSON files

!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

!conda install -c conda-forge folium=0.5.0 --yes
import folium #import folium # map rendering library

print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |   py36h9f0ad1d_1         149 KB  conda-forge
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    geopy-1.21.0               |             py_0          58 KB  conda-forge
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    openssl-1.1.1e             |       h516909a_0         2.1 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.50-py_0         conda-forge
    geopy:           1.21.0-py_0       conda-forge
    python_abi:      3.6-1_cp36m       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.11.27-0                  --> 2019.11.28-hecc5488_0     conda-forge
    certifi:         2019.11.28-py36_0             --> 2019.11.28-py36h9f0ad1d_1 conda-forge
    openssl:         1.1.1d-h7b6447c_3             --> 1.1.1e-h516909a_0         conda-forge


Downloading and Extracting Packages
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
python_abi-3.6       | 4 KB      | ##################################### | 100%
geographiclib-1.50   | 34 KB     | ##################################### | 100%
geopy-1.21.0         | 58 KB     | ##################################### | 100%
ca-certificates-2019 | 145 KB    | ##################################### | 100%
openssl-1.1.1e       | 2.1 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    branca-0.4.0               |             py_0          26 KB  conda-forge
    altair-4.0.1               |             py_0         575 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         673 KB

The following NEW packages will be INSTALLED:

    altair:  4.0.1-py_0 conda-forge
    branca:  0.4.0-py_0 conda-forge
    folium:  0.5.0-py_0 conda-forge
    vincent: 0.4.4-py_1 conda-forge


Downloading and Extracting Packages
vincent-0.4.4        | 28 KB     | ##################################### | 100%
branca-0.4.0         | 26 KB     | ##################################### | 100%
altair-4.0.1         | 575 KB    | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

In [2]:
#Read the data for examination (Source: http://landregistry.data.gov.uk/)
df_ppd = pd.read_csv("http://prod2.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2018.csv")

Before using data, we will have to explore and understand it.

2. Explore and Understand Data
We read the dataset that we collected from the HM Land Registry website into a pandas' data frame and display the first five rows of it as follows:

In [3]:
df_ppd.head(5)

,{666758D7-43A9-3363-E053-6B04A8C0D74E},405000,2018-01-25 00:00,WR15 8LH,D,N,F,RAMBLERS WAY,Unnamed: 8,Unnamed: 9,BORASTON,TENBURY WELLS,SHROPSHIRE,SHROPSHIRE.1,A,A.1
0,{666758D7-43AA-3363-E053-6B04A8C0D74E},315000,2018-01-23 00:00,SY7 8QA,D,N,F,MONT CENISE,NaN,NaN,CLUN,CRAVEN ARMS,SHROPSHIRE,SHROPSHIRE,A,A
1,{666758D7-43AD-3363-E053-6B04A8C0D74E},165000,2018-01-19 00:00,SY1 2BF,T,Y,F,42,NaN,PENSON WAY,NaN,SHREWSBURY,SHROPSHIRE,SHROPSHIRE,A,A
2,{666758D7-43B0-3363-E053-6B04A8C0D74E},370000,2018-01-22 00:00,SY8 4DF,D,N,F,WILLOW HEY,NaN,NaN,ASHFORD CARBONEL,LUDLOW,SHROPSHIRE,SHROPSHIRE,A,A
3,{666758D7-43B3-3363-E053-6B04A8C0D74E},320000,2018-01-19 00:00,TF10 7ET,D,N,F,3,NaN,PRINCESS GARDENS,NaN,NEWPORT,WREKIN,WREKIN,A,A
4,{666758D7-43B4-3363-E053-6B04A8C0D74E},180000,2018-01-31 00:00,SY3 0NQ,S,N,F,79,NaN,LYTHWOOD ROAD,BAYSTON HILL,SHREWSBURY,SHROPSHIRE,SHROPSHIRE,A,A

In [4]:
df_ppd.shape

(1028554, 16)

Our dataset consists of over 700000 rows and 16 columns. We will now prepare and preprocess data accordingly.

3. Data preparation and preprocessing
At this stage, we prepare our dataset for the modeling process, opting for the most suitable machine learning algorithm for our scope. Accordingly, we perform the following steps:

Rename the column names
Format the date column
Sort data by date of sale
Select data only for the city of London
Make a list of street names in London
Calculate the street-wise average price of the property
Read the street-wise coordinates into a data frame, eliminating recurring word London from individual names
Join the data to find the coordinates of locations which fit into client's budget
Plot recommended locations on London map along with current market prices

In [13]:
# Assign meaningful column names
df_ppd.columns = ['TUID', 'Price', 'Date_Transfer', 'Postcode', 'Prop_Type', 'Old_New', 'Duration', 'PAON', \
                  'SAON', 'Street', 'Locality', 'Town_City', 'District', 'County', 'PPD_Cat_Type', 'Record_Status']

In [14]:
df_ppd['Date_Transfer'] = df_ppd['Date_Transfer'].apply(pd.to_datetime)

# Delete all obsolete transactions which were done before 2016
df_ppd.drop(df_ppd[df_ppd.Date_Transfer.dt.year < 2016].index, inplace=True)

# Sort by Date of Sale
df_ppd.sort_values(by=['Date_Transfer'],ascending=[False],inplace=True)

In [15]:
df_ppd_london = df_ppd.query("Town_City == 'LONDON'")

# Make a list of street names in LONDON
streets = df_ppd_london['Street'].unique().tolist()

In [16]:
df_grp_price = df_ppd_london.groupby(['Street'])['Price'].mean().reset_index()

# Give meaningful names to the columns
df_grp_price.columns = ['Street', 'Avg_Price']

In [17]:
#Input your Budget's Upper Limit and Lower Limit - Find the locations df_grp_price which fits your budget
df_affordable = df_grp_price.query("(Avg_Price >= 2200000) & (Avg_Price <= 2500000)")

In [18]:
# Display the dataframe
df_affordable

                      Street     Avg_Price
196            ALBION SQUARE  2.450000e+06
390              ANHALT ROAD  2.435000e+06
405          ANSDELL TERRACE  2.250000e+06
422          APPLEGARTH ROAD  2.400000e+06
855          BARONSMEAD ROAD  2.375000e+06
981           BEAUCLERC ROAD  2.480000e+06
1102         BELVEDERE DRIVE  2.340000e+06
1215       BICKENHALL STREET  2.208500e+06
1253       BIRCHLANDS AVENUE  2.217000e+06
1553          BRAMPTON GROVE  2.456875e+06
1632       BRIARDALE GARDENS  2.397132e+06
1797                BROOKWAY  2.400000e+06
1914            BURBAGE ROAD  2.445000e+06
1980               BURY WALK  2.492500e+06
2068         CALLCOTT STREET  2.375000e+06
2129       CAMPDEN HILL ROAD  2.379653e+06
2136            CAMPION ROAD  2.461000e+06
2158           CANNING PLACE  2.425000e+06
2225           CARLISLE ROAD  2.200000e+06
2230         CARLTON GARDENS  2.483500e+06
2242           CARLYLE COURT  2.300000e+06
2405          CHALCOT SQUARE  2.286679e+06
2483            CHARLES LANE  2.414000e+06
2561        CHELSEA CRESCENT  2.495000e+06
2605     CHESTER CLOSE NORTH  2.450000e+06
2637            CHEYNE COURT  2.250000e+06
2640              CHEYNE ROW  2.410000e+06
2685           CHISWICK MALL  2.287500e+06
2760               CITY ROAD  2.468340e+06
2807        CLARENDON STREET  2.250000e+06
...                      ...           ...
10928   RUSSELL GARDENS MEWS  2.300000e+06
11176         SETTLES STREET  2.487500e+06
11251         SHELDON AVENUE  2.349542e+06
11485          SOUTH END ROW  2.470000e+06
11563    SOUTHWOOD LAWN ROAD  2.350000e+06
11566         SOVEREIGN PARK  2.500000e+06
11783  ST MARGARETS CRESCENT  2.216500e+06
11819       ST OSWALDS PLACE  2.250000e+06
11839       ST PETERS SQUARE  2.468730e+06
11876       STAFFORD TERRACE  2.355000e+06
12216       SUTHERLAND PLACE  2.456000e+06
12278          SYDNEY STREET  2.240833e+06
12420            THAMES BANK  2.400000e+06
12482            THE HEXAGON  2.335000e+06
12761        TREDEGAR SQUARE  2.436666e+06
12823         TRINITY STREET  2.317500e+06
12973   UPPER HAMPSTEAD WALK  2.500000e+06
13235        WALPOLE GARDENS  2.303500e+06
13237         WALPOLE STREET  2.242500e+06
13311         WARWICK SQUARE  2.432273e+06
13410            WELBECK WAY  2.267000e+06
13422      WELLESLEY TERRACE  2.410000e+06
13433      WELLINGTON STREET  2.293155e+06
13565     WESTMORELAND PLACE  2.300000e+06
13672       WHITFIELD STREET  2.451000e+06
13717         WILFRED STREET  2.410538e+06
13743     WILLOW BRIDGE ROAD  2.425000e+06
13763          WILSON STREET  2.257500e+06
13791        WINCHENDON ROAD  2.350000e+06
13828           WINGATE ROAD  2.206400e+06

[162 rows x 2 columns]

In [19]:
import pandas as pd
import numpy as np
import datetime as DT
import hmac
from geopy.geocoders import Nominatim
from geopy.distance import vincenty
# import k-means from clustering stage
from sklearn.cluster import KMeans

In [12]:
for index, item in df_affordable.iterrows():
    print(f"index: {index}")
    print(f"item: {item}")
    print(f"item.Street only: {item.Street}")

index: 196
item: Street       ALBION SQUARE
Avg_Price         2.45e+06
Name: 196, dtype: object
item.Street only: ALBION SQUARE
index: 390
item: Street       ANHALT ROAD
Avg_Price      2.435e+06
Name: 390, dtype: object
item.Street only: ANHALT ROAD
index: 405
item: Street       ANSDELL TERRACE
Avg_Price           2.25e+06
Name: 405, dtype: object
item.Street only: ANSDELL TERRACE
index: 422
item: Street       APPLEGARTH ROAD
Avg_Price            2.4e+06
Name: 422, dtype: object
item.Street only: APPLEGARTH ROAD
index: 855
item: Street       BARONSMEAD ROAD
Avg_Price          2.375e+06
Name: 855, dtype: object
item.Street only: BARONSMEAD ROAD
index: 981
item: Street       BEAUCLERC ROAD
Avg_Price          2.48e+06
Name: 981, dtype: object
item.Street only: BEAUCLERC ROAD
index: 1102
item: Street       BELVEDERE DRIVE
Avg_Price           2.34e+06
Name: 1102, dtype: object
item.Street only: BELVEDERE DRIVE
index: 1215
item: Street       BICKENHALL STREET
Avg_Price           2.2085e+06
Name: 1215, dtype: object
item.Street only: BICKENHALL STREET
index: 1253
item: Street       BIRCHLANDS AVENUE
Avg_Price            2.217e+06
Name: 1253, dtype: object
item.Street only: BIRCHLANDS AVENUE
index: 1553
item: Street       BRAMPTON GROVE
Avg_Price       2.45688e+06
Name: 1553, dtype: object
item.Street only: BRAMPTON GROVE
index: 1632
item: Street       BRIARDALE GARDENS
Avg_Price          2.39713e+06
Name: 1632, dtype: object
item.Street only: BRIARDALE GARDENS
index: 1797
item: Street       BROOKWAY
Avg_Price     2.4e+06
Name: 1797, dtype: object
item.Street only: BROOKWAY
index: 1914
item: Street       BURBAGE ROAD
Avg_Price       2.445e+06
Name: 1914, dtype: object
item.Street only: BURBAGE ROAD
index: 1980
item: Street        BURY WALK
Avg_Price    2.4925e+06
Name: 1980, dtype: object
item.Street only: BURY WALK
index: 2068
item: Street       CALLCOTT STREET
Avg_Price          2.375e+06
Name: 2068, dtype: object
item.Street only: CALLCOTT STREET
index: 2129
item: Street       CAMPDEN HILL ROAD
Avg_Price          2.37965e+06
Name: 2129, dtype: object
item.Street only: CAMPDEN HILL ROAD
index: 2136
item: Street       CAMPION ROAD
Avg_Price       2.461e+06
Name: 2136, dtype: object
item.Street only: CAMPION ROAD
index: 2158
item: Street       CANNING PLACE
Avg_Price        2.425e+06
Name: 2158, dtype: object
item.Street only: CANNING PLACE
index: 2225
item: Street       CARLISLE ROAD
Avg_Price          2.2e+06
Name: 2225, dtype: object
item.Street only: CARLISLE ROAD
index: 2230
item: Street       CARLTON GARDENS
Avg_Price         2.4835e+06
Name: 2230, dtype: object
item.Street only: CARLTON GARDENS
index: 2242
item: Street       CARLYLE COURT
Avg_Price          2.3e+06
Name: 2242, dtype: object
item.Street only: CARLYLE COURT
index: 2405
item: Street       CHALCOT SQUARE
Avg_Price       2.28668e+06
Name: 2405, dtype: object
item.Street only: CHALCOT SQUARE
index: 2483
item: Street       CHARLES LANE
Avg_Price       2.414e+06
Name: 2483, dtype: object
item.Street only: CHARLES LANE
index: 2561
item: Street       CHELSEA CRESCENT
Avg_Price           2.495e+06
Name: 2561, dtype: object
item.Street only: CHELSEA CRESCENT
index: 2605
item: Street       CHESTER CLOSE NORTH
Avg_Price               2.45e+06
Name: 2605, dtype: object
item.Street only: CHESTER CLOSE NORTH
index: 2637
item: Street       CHEYNE COURT
Avg_Price        2.25e+06
Name: 2637, dtype: object
item.Street only: CHEYNE COURT
index: 2640
item: Street       CHEYNE ROW
Avg_Price      2.41e+06
Name: 2640, dtype: object
item.Street only: CHEYNE ROW
index: 2685
item: Street       CHISWICK MALL
Avg_Price       2.2875e+06
Name: 2685, dtype: object
item.Street only: CHISWICK MALL
index: 2760
item: Street         CITY ROAD
Avg_Price    2.46834e+06
Name: 2760, dtype: object
item.Street only: CITY ROAD
index: 2807
item: Street       CLARENDON STREET
Avg_Price            2.25e+06
Name: 2807, dtype: object
item.Street only: CLARENDON STREET
index: 2899
item: Street       CLONCURRY STREET
Avg_Price         2.38833e+06
Name: 2899, dtype: object
item.Street only: CLONCURRY STREET
index: 2943
item: Street       COLBECK MEWS
Avg_Price      2.3675e+06
Name: 2943, dtype: object
item.Street only: COLBECK MEWS
index: 2994
item: Street       COLLEGE CRESCENT
Avg_Price            2.44e+06
Name: 2994, dtype: object
item.Street only: COLLEGE CRESCENT
index: 3201
item: Street       CORNWALL TERRACE MEWS
Avg_Price                 2.35e+06
Name: 3201, dtype: object
item.Street only: CORNWALL TERRACE MEWS
index: 3254
item: Street       COURT LANE GARDENS
Avg_Price              2.36e+06
Name: 3254, dtype: object
item.Street only: COURT LANE GARDENS
index: 3376
item: Street       CRESCENT GROVE
Avg_Price         2.298e+06
Name: 3376, dtype: object
item.Street only: CRESCENT GROVE
index: 3582
item: Street       DALEBURY ROAD
Avg_Price          2.4e+06
Name: 3582, dtype: object
item.Street only: DALEBURY ROAD
index: 3847
item: Street       DEWHURST ROAD
Avg_Price        2.425e+06
Name: 3847, dtype: object
item.Street only: DEWHURST ROAD
index: 3928
item: Street       DORIA ROAD
Avg_Price    2.3625e+06
Name: 3928, dtype: object
item.Street only: DORIA ROAD
index: 3979
item: Street       DOWNSHIRE HILL
Avg_Price         2.225e+06
Name: 3979, dtype: object
item.Street only: DOWNSHIRE HILL
index: 4034
item: Street       DUCHESS WALK
Avg_Price      2.4775e+06
Name: 4034, dtype: object
item.Street only: DUCHESS WALK
index: 4231
item: Street       ECCLESTON SQUARE MEWS
Avg_Price               2.3355e+06
Name: 4231, dtype: object
item.Street only: ECCLESTON SQUARE MEWS
index: 4284
item: Street       EGBERT STREET
Avg_Price        2.265e+06
Name: 4284, dtype: object
item.Street only: EGBERT STREET
index: 4288
item: Street       EGERTON PLACE
Avg_Price          2.2e+06
Name: 4288, dtype: object
item.Street only: EGERTON PLACE
index: 4374
item: Street       ELM PARK ROAD
Avg_Price      2.32042e+06
Name: 4374, dtype: object
item.Street only: ELM PARK ROAD
index: 4892
item: Street       FLORAL STREET
Avg_Price      2.22722e+06
Name: 4892, dtype: object
item.Street only: FLORAL STREET
index: 5013
item: Street       FRANK DIXON WAY
Avg_Price         2.2125e+06
Name: 5013, dtype: object
item.Street only: FRANK DIXON WAY
index: 5095
item: Street       FULTON MEWS
Avg_Price      2.299e+06
Name: 5095, dtype: object
item.Street only: FULTON MEWS
index: 5238
item: Street       GERARD ROAD
Avg_Price     2.2585e+06
Name: 5238, dtype: object
item.Street only: GERARD ROAD
index: 5241
item: Street       GERRARD ROAD
Avg_Price      2.2425e+06
Name: 5241, dtype: object
item.Street only: GERRARD ROAD
index: 5286
item: Street       GIRDLERS ROAD
Avg_Price      2.44167e+06
Name: 5286, dtype: object
item.Street only: GIRDLERS ROAD
index: 5379
item: Street       GLOUCESTER CRESCENT
Avg_Price            2.35083e+06
Name: 5379, dtype: object
item.Street only: GLOUCESTER CRESCENT
index: 5447
item: Street       GORDON PLACE
Avg_Price       2.477e+06
Name: 5447, dtype: object
item.Street only: GORDON PLACE
index: 5483
item: Street       GRAFTON SQUARE
Avg_Price          2.27e+06
Name: 5483, dtype: object
item.Street only: GRAFTON SQUARE
index: 5490
item: Street       GRAHAM TERRACE
Avg_Price         2.325e+06
Name: 5490, dtype: object
item.Street only: GRAHAM TERRACE
index: 5947
item: Street       HARMAN DRIVE
Avg_Price      2.2625e+06
Name: 5947, dtype: object
item.Street only: HARMAN DRIVE
index: 5971
item: Street       HARRIS STREET
Avg_Price      2.47177e+06
Name: 5971, dtype: object
item.Street only: HARRIS STREET
index: 6034
item: Street       HAVANNAH STREET
Avg_Price        2.21731e+06
Name: 6034, dtype: object
item.Street only: HAVANNAH STREET
index: 6106
item: Street       HAZLEWELL ROAD
Avg_Price           2.5e+06
Name: 6106, dtype: object
item.Street only: HAZLEWELL ROAD
index: 6222
item: Street       HEREFORD MEWS
Avg_Price         2.31e+06
Name: 6222, dtype: object
item.Street only: HEREFORD MEWS
index: 6242
item: Street       HERONDALE AVENUE
Avg_Price           2.475e+06
Name: 6242, dtype: object
item.Street only: HERONDALE AVENUE
index: 6339
item: Street       HIGHGATE HIGH STREET
Avg_Price               2.211e+06
Name: 6339, dtype: object
item.Street only: HIGHGATE HIGH STREET
index: 6354
item: Street       HIGHWOOD HILL
Avg_Price       2.2525e+06
Name: 6354, dtype: object
item.Street only: HIGHWOOD HILL
index: 6390
item: Street       HILLGATE PLACE
Avg_Price           2.2e+06
Name: 6390, dtype: object
item.Street only: HILLGATE PLACE
index: 6501
item: Street       HOLLYCROFT AVENUE
Avg_Price          2.36138e+06
Name: 6501, dtype: object
item.Street only: HOLLYCROFT AVENUE
index: 6505
item: Street       HOLLYWOOD MEWS
Avg_Price          2.35e+06
Name: 6505, dtype: object
item.Street only: HOLLYWOOD MEWS
index: 6550
item: Street       HONEYWELL ROAD
Avg_Price       2.27833e+06
Name: 6550, dtype: object
item.Street only: HONEYWELL ROAD
index: 6606
item: Street       HORTENSIA ROAD
Avg_Price       2.27592e+06
Name: 6606, dtype: object
item.Street only: HORTENSIA ROAD
index: 6635
item: Street       HOXTON SQUARE
Avg_Price      2.23429e+06
Name: 6635, dtype: object
item.Street only: HOXTON SQUARE
index: 6661
item: Street       HUNTER ROAD
Avg_Price        2.3e+06
Name: 6661, dtype: object
item.Street only: HUNTER ROAD
index: 6820
item: Street       JACKSONS LANE
Avg_Price       2.3625e+06
Name: 6820, dtype: object
item.Street only: JACKSONS LANE
index: 6880
item: Street       JOHN STREET
Avg_Price      2.235e+06
Name: 6880, dtype: object
item.Street only: JOHN STREET
index: 7185
item: Street       KINNERTON STREET
Avg_Price          2.4856e+06
Name: 7185, dtype: object
item.Street only: KINNERTON STREET
index: 7219
item: Street       KNARESBOROUGH PLACE
Avg_Price              2.325e+06
Name: 7219, dtype: object
item.Street only: KNARESBOROUGH PLACE
index: 7239
item: Street       KNOX STREET
Avg_Price       2.25e+06
Name: 7239, dtype: object
item.Street only: KNOX STREET
index: 7259
item: Street       LADBROKE GROVE
Avg_Price        2.4833e+06
Name: 7259, dtype: object
item.Street only: LADBROKE GROVE
index: 7328
item: Street       LANCASTER MEWS
Avg_Price        2.3125e+06
Name: 7328, dtype: object
item.Street only: LANCASTER MEWS
index: 7399
item: Street       LANSDOWNE ROAD
Avg_Price       2.36488e+06
Name: 7399, dtype: object
item.Street only: LANSDOWNE ROAD
index: 7427
item: Street       LATIMER INDUSTRIAL ESTATE
Avg_Price                      2.4e+06
Name: 7427, dtype: object
item.Street only: LATIMER INDUSTRIAL ESTATE
index: 7480
item: Street       LAXTON PLACE
Avg_Price         2.5e+06
Name: 7480, dtype: object
item.Street only: LAXTON PLACE
index: 7682
item: Street       LINCOLN AVENUE
Avg_Price        2.2035e+06
Name: 7682, dtype: object
item.Street only: LINCOLN AVENUE
index: 7711
item: Street       LINGFIELD ROAD
Avg_Price       2.24875e+06
Name: 7711, dtype: object
item.Street only: LINGFIELD ROAD
index: 7740
item: Street       LISSON STREET
Avg_Price       2.4625e+06
Name: 7740, dtype: object
item.Street only: LISSON STREET
index: 7774
item: Street       LIVERPOOL GROVE
Avg_Price          2.288e+06
Name: 7774, dtype: object
item.Street only: LIVERPOOL GROVE
index: 7866
item: Street       LONGWOOD DRIVE
Avg_Price         2.375e+06
Name: 7866, dtype: object
item.Street only: LONGWOOD DRIVE
index: 7872
item: Street       LONSDALE SQUARE
Avg_Price         2.3575e+06
Name: 7872, dtype: object
item.Street only: LONSDALE SQUARE
index: 8410
item: Street       MAZE HILL
Avg_Price     2.25e+06
Name: 8410, dtype: object
item.Street only: MAZE HILL
index: 8545
item: Street       MIDDLESEX PASSAGE
Avg_Price             2.28e+06
Name: 8545, dtype: object
item.Street only: MIDDLESEX PASSAGE
index: 8708
item: Street       MONTPELIER AVENUE
Avg_Price              2.5e+06
Name: 8708, dtype: object
item.Street only: MONTPELIER AVENUE
index: 8718
item: Street       MONTPELIER WALK
Avg_Price           2.32e+06
Name: 8718, dtype: object
item.Street only: MONTPELIER WALK
index: 8866
item: Street       MULTON ROAD
Avg_Price        2.3e+06
Name: 8866, dtype: object
item.Street only: MULTON ROAD
index: 8871
item: Street       MUNDEN STREET
Avg_Price         2.25e+06
Name: 8871, dtype: object
item.Street only: MUNDEN STREET
index: 9145
item: Street       NORFOLK CRESCENT
Avg_Price         2.22333e+06
Name: 9145, dtype: object
item.Street only: NORFOLK CRESCENT
index: 9168
item: Street       NORTH CIRCULAR ROAD
Avg_Price            2.39314e+06
Name: 9168, dtype: object
item.Street only: NORTH CIRCULAR ROAD
index: 9244
item: Street       NOTTINGHAM STREET
Avg_Price           2.2275e+06
Name: 9244, dtype: object
item.Street only: NOTTINGHAM STREET
index: 9319
item: Street       OAKLEY STREET
Avg_Price      2.38129e+06
Name: 9319, dtype: object
item.Street only: OAKLEY STREET
index: 9330
item: Street       OAKWOOD COURT
Avg_Price      2.34875e+06
Name: 9330, dtype: object
item.Street only: OAKWOOD COURT
index: 9338
item: Street       OBSERVATORY GARDENS
Avg_Price               2.42e+06
Name: 9338, dtype: object
item.Street only: OBSERVATORY GARDENS
index: 9373
item: Street       OLD COURT PLACE
Avg_Price          2.395e+06
Name: 9373, dtype: object
item.Street only: OLD COURT PLACE
index: 9434
item: Street       ONSLOW MEWS WEST
Avg_Price             2.3e+06
Name: 9434, dtype: object
item.Street only: ONSLOW MEWS WEST
index: 9566
item: Street       PALACE PLACE
Avg_Price         2.3e+06
Name: 9566, dtype: object
item.Street only: PALACE PLACE
index: 9595
item: Street       PANTON STREET
Avg_Price        2.475e+06
Name: 9595, dtype: object
item.Street only: PANTON STREET
index: 9614
item: Street       PARK CRESCENT
Avg_Price         2.44e+06
Name: 9614, dtype: object
item.Street only: PARK CRESCENT
index: 9623
item: Street        PARK LANE
Avg_Price    2.2415e+06
Name: 9623, dtype: object
item.Street only: PARK LANE
index: 9644
item: Street       PARKE ROAD
Avg_Price    2.2625e+06
Name: 9644, dtype: object
item.Street only: PARKE ROAD
index: 9647
item: Street       PARKFIELDS
Avg_Price       2.2e+06
Name: 9647, dtype: object
item.Street only: PARKFIELDS
index: 9684
item: Street       PARTHENIA ROAD
Avg_Price       2.20057e+06
Name: 9684, dtype: object
item.Street only: PARTHENIA ROAD
index: 9716
item: Street       PAVILION ROAD
Avg_Price          2.2e+06
Name: 9716, dtype: object
item.Street only: PAVILION ROAD
index: 9777
item: Street       PEMBRIDGE MEWS
Avg_Price         2.251e+06
Name: 9777, dtype: object
item.Street only: PEMBRIDGE MEWS
index: 9779
item: Street       PEMBRIDGE ROAD
Avg_Price           2.4e+06
Name: 9779, dtype: object
item.Street only: PEMBRIDGE ROAD
index: 9788
item: Street       PEMBROKE STUDIOS
Avg_Price            2.45e+06
Name: 9788, dtype: object
item.Street only: PEMBROKE STUDIOS
index: 9793
item: Street       PENCOMBE MEWS
Avg_Price          2.2e+06
Name: 9793, dtype: object
item.Street only: PENCOMBE MEWS
index: 9873
item: Street       PETERSHAM PLACE
Avg_Price            2.3e+06
Name: 9873, dtype: object
item.Street only: PETERSHAM PLACE
index: 9888
item: Street       PHILLIMORE GARDENS
Avg_Price           2.48467e+06
Name: 9888, dtype: object
item.Street only: PHILLIMORE GARDENS
index: 9896
item: Street       PHYSIC PLACE
Avg_Price         2.5e+06
Name: 9896, dtype: object
item.Street only: PHYSIC PLACE
index: 9934
item: Street       PITFIELD STREET
Avg_Price        2.48333e+06
Name: 9934, dtype: object
item.Street only: PITFIELD STREET
index: 10144
item: Street       PRINCES GATE
Avg_Price     2.40333e+06
Name: 10144, dtype: object
item.Street only: PRINCES GATE
index: 10172
item: Street       PRIORY ROAD
Avg_Price    2.24826e+06
Name: 10172, dtype: object
item.Street only: PRIORY ROAD
index: 10183
item: Street       PROTHERO GARDENS
Avg_Price          2.2025e+06
Name: 10183, dtype: object
item.Street only: PROTHERO GARDENS
index: 10219
item: Street       PUTNEY HIGH STREET
Avg_Price            2.3486e+06
Name: 10219, dtype: object
item.Street only: PUTNEY HIGH STREET
index: 10236
item: Street       QUARRENDON STREET
Avg_Price          2.43775e+06
Name: 10236, dtype: object
item.Street only: QUARRENDON STREET
index: 10269
item: Street       QUEENS GATE TERRACE
Avg_Price            2.39944e+06
Name: 10269, dtype: object
item.Street only: QUEENS GATE TERRACE
index: 10323
item: Street       RADSTOCK STREET
Avg_Price         2.2175e+06
Name: 10323, dtype: object
item.Street only: RADSTOCK STREET
index: 10368
item: Street       RANELAGH AVENUE
Avg_Price            2.3e+06
Name: 10368, dtype: object
item.Street only: RANELAGH AVENUE
index: 10476
item: Street       REDCLIFFE ROAD
Avg_Price       2.44875e+06
Name: 10476, dtype: object
item.Street only: REDCLIFFE ROAD
index: 10501
item: Street       REEVES MEWS
Avg_Price       2.45e+06
Name: 10501, dtype: object
item.Street only: REEVES MEWS
index: 10558
item: Street       RHEIDOL MEWS
Avg_Price        2.31e+06
Name: 10558, dtype: object
item.Street only: RHEIDOL MEWS
index: 10613
item: Street       RINGWOOD AVENUE
Avg_Price          2.275e+06
Name: 10613, dtype: object
item.Street only: RINGWOOD AVENUE
index: 10693
item: Street       RODERICK ROAD
Avg_Price          2.4e+06
Name: 10693, dtype: object
item.Street only: RODERICK ROAD
index: 10750
item: Street       ROPEMAKERS FIELDS
Avg_Price              2.5e+06
Name: 10750, dtype: object
item.Street only: ROPEMAKERS FIELDS
index: 10865
item: Street       ROYAL CRESCENT
Avg_Price       2.34833e+06
Name: 10865, dtype: object
item.Street only: ROYAL CRESCENT
index: 10871
item: Street       ROYAL HILL
Avg_Price    2.2525e+06
Name: 10871, dtype: object
item.Street only: ROYAL HILL
index: 10928
item: Street       RUSSELL GARDENS MEWS
Avg_Price                 2.3e+06
Name: 10928, dtype: object
item.Street only: RUSSELL GARDENS MEWS
index: 11176
item: Street       SETTLES STREET
Avg_Price        2.4875e+06
Name: 11176, dtype: object
item.Street only: SETTLES STREET
index: 11251
item: Street       SHELDON AVENUE
Avg_Price       2.34954e+06
Name: 11251, dtype: object
item.Street only: SHELDON AVENUE
index: 11485
item: Street       SOUTH END ROW
Avg_Price         2.47e+06
Name: 11485, dtype: object
item.Street only: SOUTH END ROW
index: 11563
item: Street       SOUTHWOOD LAWN ROAD
Avg_Price               2.35e+06
Name: 11563, dtype: object
item.Street only: SOUTHWOOD LAWN ROAD
index: 11566
item: Street       SOVEREIGN PARK
Avg_Price           2.5e+06
Name: 11566, dtype: object
item.Street only: SOVEREIGN PARK
index: 11783
item: Street       ST MARGARETS CRESCENT
Avg_Price               2.2165e+06
Name: 11783, dtype: object
item.Street only: ST MARGARETS CRESCENT
index: 11819
item: Street       ST OSWALDS PLACE
Avg_Price            2.25e+06
Name: 11819, dtype: object
item.Street only: ST OSWALDS PLACE
index: 11839
item: Street       ST PETERS SQUARE
Avg_Price         2.46873e+06
Name: 11839, dtype: object
item.Street only: ST PETERS SQUARE
index: 11876
item: Street       STAFFORD TERRACE
Avg_Price           2.355e+06
Name: 11876, dtype: object
item.Street only: STAFFORD TERRACE
index: 12216
item: Street       SUTHERLAND PLACE
Avg_Price           2.456e+06
Name: 12216, dtype: object
item.Street only: SUTHERLAND PLACE
index: 12278
item: Street       SYDNEY STREET
Avg_Price      2.24083e+06
Name: 12278, dtype: object
item.Street only: SYDNEY STREET
index: 12420
item: Street       THAMES BANK
Avg_Price        2.4e+06
Name: 12420, dtype: object
item.Street only: THAMES BANK
index: 12482
item: Street       THE HEXAGON
Avg_Price      2.335e+06
Name: 12482, dtype: object
item.Street only: THE HEXAGON
index: 12761
item: Street       TREDEGAR SQUARE
Avg_Price        2.43667e+06
Name: 12761, dtype: object
item.Street only: TREDEGAR SQUARE
index: 12823
item: Street       TRINITY STREET
Avg_Price        2.3175e+06
Name: 12823, dtype: object
item.Street only: TRINITY STREET
index: 12973
item: Street       UPPER HAMPSTEAD WALK
Avg_Price                 2.5e+06
Name: 12973, dtype: object
item.Street only: UPPER HAMPSTEAD WALK

In [20]:
geolocator = Nominatim()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  if __name__ == '__main__':

In [21]:
df_affordable['city_coord'] = df_affordable['Street'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))

GeocoderUnavailable: Service not available

In [22]:
df_affordable

                      Street     Avg_Price
196            ALBION SQUARE  2.450000e+06
390              ANHALT ROAD  2.435000e+06
405          ANSDELL TERRACE  2.250000e+06
422          APPLEGARTH ROAD  2.400000e+06
855          BARONSMEAD ROAD  2.375000e+06
981           BEAUCLERC ROAD  2.480000e+06
1102         BELVEDERE DRIVE  2.340000e+06
1215       BICKENHALL STREET  2.208500e+06
1253       BIRCHLANDS AVENUE  2.217000e+06
1553          BRAMPTON GROVE  2.456875e+06
1632       BRIARDALE GARDENS  2.397132e+06
1797                BROOKWAY  2.400000e+06
1914            BURBAGE ROAD  2.445000e+06
1980               BURY WALK  2.492500e+06
2068         CALLCOTT STREET  2.375000e+06
2129       CAMPDEN HILL ROAD  2.379653e+06
2136            CAMPION ROAD  2.461000e+06
2158           CANNING PLACE  2.425000e+06
2225           CARLISLE ROAD  2.200000e+06
2230         CARLTON GARDENS  2.483500e+06
2242           CARLYLE COURT  2.300000e+06
2405          CHALCOT SQUARE  2.286679e+06
2483            CHARLES LANE  2.414000e+06
2561        CHELSEA CRESCENT  2.495000e+06
2605     CHESTER CLOSE NORTH  2.450000e+06
2637            CHEYNE COURT  2.250000e+06
2640              CHEYNE ROW  2.410000e+06
2685           CHISWICK MALL  2.287500e+06
2760               CITY ROAD  2.468340e+06
2807        CLARENDON STREET  2.250000e+06
...                      ...           ...
10928   RUSSELL GARDENS MEWS  2.300000e+06
11176         SETTLES STREET  2.487500e+06
11251         SHELDON AVENUE  2.349542e+06
11485          SOUTH END ROW  2.470000e+06
11563    SOUTHWOOD LAWN ROAD  2.350000e+06
11566         SOVEREIGN PARK  2.500000e+06
11783  ST MARGARETS CRESCENT  2.216500e+06
11819       ST OSWALDS PLACE  2.250000e+06
11839       ST PETERS SQUARE  2.468730e+06
11876       STAFFORD TERRACE  2.355000e+06
12216       SUTHERLAND PLACE  2.456000e+06
12278          SYDNEY STREET  2.240833e+06
12420            THAMES BANK  2.400000e+06
12482            THE HEXAGON  2.335000e+06
12761        TREDEGAR SQUARE  2.436666e+06
12823         TRINITY STREET  2.317500e+06
12973   UPPER HAMPSTEAD WALK  2.500000e+06
13235        WALPOLE GARDENS  2.303500e+06
13237         WALPOLE STREET  2.242500e+06
13311         WARWICK SQUARE  2.432273e+06
13410            WELBECK WAY  2.267000e+06
13422      WELLESLEY TERRACE  2.410000e+06
13433      WELLINGTON STREET  2.293155e+06
13565     WESTMORELAND PLACE  2.300000e+06
13672       WHITFIELD STREET  2.451000e+06
13717         WILFRED STREET  2.410538e+06
13743     WILLOW BRIDGE ROAD  2.425000e+06
13763          WILSON STREET  2.257500e+06
13791        WINCHENDON ROAD  2.350000e+06
13828           WINGATE ROAD  2.206400e+06

[162 rows x 2 columns]

In [23]:
df_affordable[['Latitude', 'Longitude']] = df_affordable['city_coord'].apply(pd.Series)

KeyError: 'city_coord'

In [24]:
df_affordable

                      Street     Avg_Price
196            ALBION SQUARE  2.450000e+06
390              ANHALT ROAD  2.435000e+06
405          ANSDELL TERRACE  2.250000e+06
422          APPLEGARTH ROAD  2.400000e+06
855          BARONSMEAD ROAD  2.375000e+06
981           BEAUCLERC ROAD  2.480000e+06
1102         BELVEDERE DRIVE  2.340000e+06
1215       BICKENHALL STREET  2.208500e+06
1253       BIRCHLANDS AVENUE  2.217000e+06
1553          BRAMPTON GROVE  2.456875e+06
1632       BRIARDALE GARDENS  2.397132e+06
1797                BROOKWAY  2.400000e+06
1914            BURBAGE ROAD  2.445000e+06
1980               BURY WALK  2.492500e+06
2068         CALLCOTT STREET  2.375000e+06
2129       CAMPDEN HILL ROAD  2.379653e+06
2136            CAMPION ROAD  2.461000e+06
2158           CANNING PLACE  2.425000e+06
2225           CARLISLE ROAD  2.200000e+06
2230         CARLTON GARDENS  2.483500e+06
2242           CARLYLE COURT  2.300000e+06
2405          CHALCOT SQUARE  2.286679e+06
2483            CHARLES LANE  2.414000e+06
2561        CHELSEA CRESCENT  2.495000e+06
2605     CHESTER CLOSE NORTH  2.450000e+06
2637            CHEYNE COURT  2.250000e+06
2640              CHEYNE ROW  2.410000e+06
2685           CHISWICK MALL  2.287500e+06
2760               CITY ROAD  2.468340e+06
2807        CLARENDON STREET  2.250000e+06
...                      ...           ...
10928   RUSSELL GARDENS MEWS  2.300000e+06
11176         SETTLES STREET  2.487500e+06
11251         SHELDON AVENUE  2.349542e+06
11485          SOUTH END ROW  2.470000e+06
11563    SOUTHWOOD LAWN ROAD  2.350000e+06
11566         SOVEREIGN PARK  2.500000e+06
11783  ST MARGARETS CRESCENT  2.216500e+06
11819       ST OSWALDS PLACE  2.250000e+06
11839       ST PETERS SQUARE  2.468730e+06
11876       STAFFORD TERRACE  2.355000e+06
12216       SUTHERLAND PLACE  2.456000e+06
12278          SYDNEY STREET  2.240833e+06
12420            THAMES BANK  2.400000e+06
12482            THE HEXAGON  2.335000e+06
12761        TREDEGAR SQUARE  2.436666e+06
12823         TRINITY STREET  2.317500e+06
12973   UPPER HAMPSTEAD WALK  2.500000e+06
13235        WALPOLE GARDENS  2.303500e+06
13237         WALPOLE STREET  2.242500e+06
13311         WARWICK SQUARE  2.432273e+06
13410            WELBECK WAY  2.267000e+06
13422      WELLESLEY TERRACE  2.410000e+06
13433      WELLINGTON STREET  2.293155e+06
13565     WESTMORELAND PLACE  2.300000e+06
13672       WHITFIELD STREET  2.451000e+06
13717         WILFRED STREET  2.410538e+06
13743     WILLOW BRIDGE ROAD  2.425000e+06
13763          WILSON STREET  2.257500e+06
13791        WINCHENDON ROAD  2.350000e+06
13828           WINGATE ROAD  2.206400e+06

[162 rows x 2 columns]

In [25]:
address = 'London, UK'
geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London City are {}, {}.'.format(latitude, longitude))

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  from ipykernel import kernelapp as app

The geograpical coordinate of London City are 51.5073219, -0.1276474.

In [37]:
# create map of London using latitude and longitude values
map_london = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, price, street in zip(df['Latitude'], df['Longitude'], df['Avg_Price'], df['Street']):
    label = '{}, {}'.format(street, price)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_london)  
    
map_london

NameError: name 'df' is not defined

In [27]:
#Define Foursquare Credentials and Version

CLIENT_ID = 'KI3TR0QO4JOKMFELOMF3WSOOI3HFNBF5YLW354MYWBKDHEX3' # Foursquare ID
CLIENT_SECRET = 'QF4ZBLJRBV4BQX52DVWUPEHJ14A2UJABPCZARZQZYTKIISUD' # Foursquare Secret
VERSION = '20181206' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: KI3TR0QO4JOKMFELOMF3WSOOI3HFNBF5YLW354MYWBKDHEX3
CLIENT_SECRET:QF4ZBLJRBV4BQX52DVWUPEHJ14A2UJABPCZARZQZYTKIISUD

Your credentails:
CLIENT_ID: KI3TR0QO4JOKMFELOMF3WSOOI3HFNBF5YLW354MYWBKDHEX3
CLIENT_SECRET:QF4ZBLJRBV4BQX52DVWUPEHJ14A2UJABPCZARZQZYTKIISUD
We can now proceed to the Modeling phase. We will analyze neighborhoods to recommend real estates where home buyers can make a real estate investment. We will then recommend profitable venues according to amenities and essential facilities surrounding such venues i.e. elementary schools, high schools, hospitals & grocery stores.

4. Modeling
After exploring the dataset and gaining insights into it, we are ready to use the clustering methodology to analyze real estates. We will use the k-means clustering technique as it is fast and efficient in terms of computational cost, is highly flexible to account for mutations in real estate market in London and is accurate.

In [32]:
def getNearbyVenues(names, latitudes, longitudes, radius=500, LIMIT=100):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Street', 
                  'Street Latitude', 
                  'Street Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [38]:
# Run the above function on each location and create a new dataframe called location_venues and display it.
location_venues = getNearbyVenues(names=df['Street'],
                                   latitudes=df['Latitude'],
                                   longitudes=df['Longitude']
                                  )

NameError: name 'df' is not defined

In [30]:
location_venues

NameError: name 'location_venues' is not defined

In [40]:
location_venues.groupby('Street').count()

NameError: name 'location_venues' is not defined

In [ ]:
# get the List of Unique Categories
print('There are {} uniques categories.'.format(len(location_venues['Venue Category'].unique())))

In [ ]:
location_venues.shape

In [ ]:
venues_onehot = pd.get_dummies(location_venues[['Venue Category']], prefix="", prefix_sep="")

# add street column back to dataframe
venues_onehot['Street'] = location_venues['Street'] 

# move street column to the first column
fixed_columns = [venues_onehot.columns[-1]] + list(venues_onehot.columns[:-1])

#fixed_columns
venues_onehot = venues_onehot[fixed_columns]

venues_onehot.head()

In [ ]:
london_grouped = venues_onehot.groupby('Street').mean().reset_index()
london_grouped

In [ ]:
london_grouped.shape

In [ ]:
num_top_venues = 5

for hood in london_grouped['Street']:
    print("----"+hood+"----")
    temp = london_grouped[london_grouped['Street'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

In [ ]:
# Define a function to return the most common venues/facilities nearby real estate investments#

def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [ ]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Street']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

In [ ]:
# create a new dataframe
venues_sorted = pd.DataFrame(columns=columns)
venues_sorted['Street'] = london_grouped['Street']

for ind in np.arange(london_grouped.shape[0]):
    venues_sorted.iloc[ind, 1:] = return_most_common_venues(london_grouped.iloc[ind, :], num_top_venues)

In [ ]:
venues_sorted.head()

In [ ]:
venues_sorted.shape

In [ ]:
london_grouped.shape

In [ ]:
london_grouped=df

In [ ]:
#Distribute in 5 Clusters

# set number of clusters
kclusters = 5

london_grouped_clustering = london_grouped.drop('Street', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(london_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:50]

In [ ]:

#Dataframe to include Clusters

london_grouped_clustering=df
london_grouped_clustering.head()

In [ ]:
london_grouped_clustering.shape

In [ ]:
df.shape

In [ ]:
london_grouped_clustering.dtypes

In [ ]:
df.dtypes

In [ ]:
# add clustering labels
london_grouped_clustering['Cluster Labels'] = kmeans.labels_

# merge london_grouped with london_data to add latitude/longitude for each neighborhood
london_grouped_clustering = london_grouped_clustering.join(venues_sorted.set_index('Street'), on='Street')

london_grouped_clustering.head(30) # check the last columns!

In [ ]:
# Create Map

map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(london_grouped_clustering['Latitude'], london_grouped_clustering['Longitude'], london_grouped_clustering['Street'], london_grouped_clustering['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [ ]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 0, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

In [ ]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 1, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

In [ ]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 2, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

In [ ]:

london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 3, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

In [34]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 4, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

NameError: name 'london_grouped_clustering' is not defined

### Results and Discussion section
First of all, even though the London Housing Market may be in a rut, it is still an "ever-green" for business affairs.

We may discuss our results under two main perspectives.

First, we may examine them according to neighborhoods/London areas. It is interesting to note that, although West London (Notting Hill, Kensington, Chelsea, Marylebone) and North-West London (Hampsted) might be considered highly profitable venues to purchase a real estate according to amenities and essential facilities surrounding such venues i.e. elementary schools, high schools, hospitals & grocery stores, South-West London (Wandsworth, Balham) and North-West London (Isliington) are arising as next future elite venues with a wide range of amenities and facilities. Accordingly, one might target under-priced real estates in these areas of London in order to make a business affair.

Second, we may analyze our results according to the five clusters we have produced. Even though, all clusters could praise an optimal range of facilities and amenities, we have found two main patterns. The first pattern we are referring to, i.e. Clusters 0, 2 and 4, may target home buyers prone to live in 'green' areas with parks, waterfronts. Instead, the second pattern we are referring to, i.e. Clusters 1 and 3, may target individuals who love pubs, theatres and soccer.

### Conclusion
To sum up, according to Bloomberg News, the London Housing Market is in a rut. It is now facing a number of different headwinds, including the prospect of higher taxes and a warning from the Bank of England that U.K. home values could fall as much as 30 percent in the event of a disorderly exit from the European Union. In this scenario, it is urgent to adopt machine learning tools in order to assist homebuyers clientele in London to make wise and effective decisions. As a result, the business problem we were posing was: how could we provide support to homebuyers clientele in to purchase a suitable real estate in London in this uncertain economic and financial scenario?

To solve this business problem, we clustered London neighborhoods in order to recommend venues and the current average price of real estate where homebuyers can make a real estate investment. We recommended profitable venues according to amenities and essential facilities surrounding such venues i.e. elementary schools, high schools, hospitals & grocery stores.

First, we gathered data on London properties and the relative price paid data were extracted from the HM Land Registry (http://landregistry.data.gov.uk/). Moreover, to explore and target recommended locations across different venues according to the presence of amenities and essential facilities, we accessed data through FourSquare API interface and arranged them as a data frame for visualization. By merging data on London properties and the relative price paid data from the HM Land Registry and data on amenities and essential facilities surrounding such properties from FourSquare API interface, we were able to recommend profitable real estate investments.

Second, The Methodology section comprised four stages: 1. Collect Inspection Data; 2. Explore and Understand Data; 3. Data preparation and preprocessing; 4. Modeling. In particular, in the modeling section, we used the k-means clustering technique as it is fast and efficient in terms of computational cost, is highly flexible to account for mutations in real estate market in London and is accurate.

Finally, we drew the conclusion that even though the London Housing Market may be in a rut, it is still an "ever-green" for business affairs. We discussed our results under two main perspectives. First, we examined them according to neighborhoods/London areas. although West London (Notting Hill, Kensington, Chelsea, Marylebone) and North-West London (Hampsted) might be considered highly profitable venues to purchase a real estate according to amenities and essential facilities surrounding such venues i.e. elementary schools, high schools, hospitals & grocery stores, South-West London (Wandsworth, Balham) and North-West London (Isliington) are arising as next future elite venues with a wide range of amenities and facilities. Accordingly, one might target under-priced real estates in these areas of London in order to make a business affair. Second, we analyzed our results according to the five clusters we produced. While Clusters 0, 2 and 4 may target home buyers prone to live in 'green' areas with parks, waterfronts, Clusters 1 and 3 may target individuals who love pubs, theatres and soccer.